<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

</head>
<br>
<center><body>
    <form action="/add_FriendGroup" method="POST">
        <h4>You belong to these Friend Groups:</h4>
        {% for line in data %}
            <li>{{line.groupName}}</li>
        {% endfor %}
        <br>
    </form>

	<form action="/add_FriendGroup" method="POST">


        <h4>Create A Friend Group: </h4>
		<div class="form-group">
			<input type="text" name = "groupName" placeholder="Group Name" required/> </br>
		</div>
		<div class="form-group">

			<input type="text" name = "description" placeholder="description" required/></br>
		</div>
		<input type="submit" class="btn btn-primary" value = "Create Friend Group" />

        {% if message %}
			<p>{{message}}</p>
		{% endif %}

	</form>
	<br>
	<form action="/addFriend" method="POST">
        <h4>Add A Friend To Your Friend Group: </h4>
		<div class="form-group">
			<input type="text" name = "groupName" placeholder="Group Name" required/></br>
		</div>
		<div class="form-group">
			<input type="text" name = "member_username" placeholder="Who are you adding?" required/> </br>
		</div>

		<input type="submit" class="btn btn-primary" value = "Add Friend" />

        {% if message1 %}
			<p>{{message1}}</p>
		{% endif %}

	</form>
	<br>
<br>
<a href="/home">Go back</a>
<br>

</body></center>


</html>
