<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>




<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Finstergram</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/home">Home</a></li>
      <li><a href="/upload">Post</a></li>
      <li><a href="/follow">Follow</a></li>
        <li><a href="/requests">Manage Requests</a></li>
        <li><a href="/unfollow">Unfollow</a></li>
        <li><a href="/add_FriendGroup">Manage Friend Groups</a></li>


    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
  </div>
</nav>


<!--<br><br><br>-->
<!--<form action="/upload">-->
<!--    <center><button type="submit" class="btn btn-primary btn-lg btn-block" >POST</button></center>-->
<!--</form>-->
<!--<br>-->
<!--<form action="/follow">-->
<!--    <center><button type="submit" class="btn btn-primary btn-lg btn-block" >FOLLOW</button></center>-->
<!--</form>-->
<!--<br>-->
<!--<form action="/requests">-->
<!--    <center><button type="submit" class="btn btn-primary btn-lg btn-block" >Manage Your Followers</button></center>-->
<!--</form>-->
<!--<br>-->
<!--<form action="/unfollow">-->
<!--    <center><button type="submit" class="btn btn-primary btn-lg btn-block" >Unfollow People</button></center>-->
<!--</form>-->
<!--<br>-->
<br>
<br>
<br>
<br>
<form action="/who_is_king">
    <center><button type="submit" class="btn btn-primary btn-lg btn-block" >Mirror Mirror on the Wall</button></center>
</form>


<br>
<br>
<br>
<br>
<br>

<center><h2>Your Feed</h2></center>


<br>
<center><table class="table">
<!--    <th>Username</th>-->
<!--    <th>Photo</th>-->
<!--    <th>First Name</th>-->
<!--    <th>Last Name</th>-->
<!--	<th>Caption</th>-->
<!--    <th>Time Posted</th>-->
<!--    <th>Like & Rate Photo</th>-->
<!--    <th>Leave a Comment!</th>-->
<!--    <th>More Data</th>-->


{% for line in photos %}
	<tr>
        <td>{{line.photoPoster}}</td>
		<td><img src ="/static/{{line.filepath}}" width="300" class=""></td>
<!--        <td>{{line.firstName}}</td>-->
<!--        <td>{{line.lastName}}</td>-->
		<td>{{line.caption}}</td>
        <td>{{line.postingdate}}</td>
        <td>
            <form action='/likePhoto' method='POST' enctype="multipart/form-data">

                <input type='text' name = 'rating' placeholder='rating'>
                <br><br>
                <input type='submit' name='likebutton' value='like'>
                <input type='hidden' name='photoID' value= '{{line.photoID}}'>

            </form>
        </td>

        <td>
            <form action='/leaveComment' method='POST' enctype="multipart/form-data">

                <input type='text' name = 'theComment' placeholder='Whatcha Thinkin?' >
                <br><br>
                <input type='submit' name='post' value='post'>
                <input type='hidden' name='photoID' value= '{{line.photoID}}'>
            </form>
        </td>



        <td><form action="/view_further_info/{{line.photoID}}" method="POST">
            <input type="hidden" name = "photoID" value = {{line.photoID}}/>
            <input type="submit" value = "More Info" />

        </form></td>
	</tr>
{% endfor %}
</table></center>


    <form method="get" action="/select_blogger">
    <button type="submit">Select Blogger</button>
    </form>
    
<br>


        {% if message %}
            {{ message }}
        {% endif %}
        <br/>

        <a href="/">Go back</a>






</body>


</html>
