<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<style>
    .center{
    margin: auto;
    width: 100%;
    <!--border: 3px solid #20B2AA;-->
    <!--padding: 10px;-->
    top: 100%;
    left:100%;
    }

   body {
   background-color: #6722;
   }

   a{
      color: #EE350D;
   }
</style>
</head>
<center>
<body>
    <div style = "position:fixed; left:600px; top:285px"; >
        	<a href="/login">Login</a>
    </div>
    <div style = "font-size: large">
	        <a href="/register">Register</a>
    </div>


</body>
</center>
</html>

