<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<br><br><br><br>
</head>
<center><h1>Please Provide the details below</h1></center><br><br><br>
<center><body>
<form action="/registerAuth" method="POST">
	<div class="form-group">
		<input type="text" name = "username" placeholder="username" required/> </br>
	</div>
	<div class="form-group">
		<input type="text" name = "first_name" placeholder="First Name" required/> </br>
	</div>
	<div class="form-group">
		<input type="text" name = "last_name" placeholder="Last Name" required/> </br>
	</div>
	<div class="form-group">
		<input type="password" name = "password" placeholder="password" required/></br>
	</div>
	<small>Finstagram will never share any of your data with anyone unless they pay us a lot of money.</small><br><br>
	<input type="submit" value = Register />
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>

<a href="/">Go back</a>

</body></center>


</html>
