<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Unfollow</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">


</head>
<body>
  <br>
<br>
<br>
<br>


<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/home">Finstergram</a>
    </div>
    <ul class="nav navbar-nav">
      <li ><a href="/home">Home</a></li>
      <li ><a href="/upload">Post</a></li>
      <li><a href="/follow">Follow</a></li>
        <li ><a href="/requests">Manage Requests</a></li>
        <li class="active"><a href="/unfollow">Unfollow</a></li>
        <li><a href="/add_FriendGroup">Manage Friend Groups</a></li>


    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
  </div>
</nav>

  <center><h4>You are currently following:</h4></center><br>

<center><table class="table">
    <th>Username</th>
    <th>First Name</th>
    <th>Last Name</th>
	<th>Bio</th>
    <th>Unfollow</th>


{% for person in users %}
	<tr>
        <td>{{person.username}}</td>
        <td>{{person.firstName}}</td>
        <td>{{person.lastName}}</td>
		<td>{{person.bio}}</td>
        <td>
            <form action='/unfollow_action' method='POST' enctype="multipart/form-data">

                <input type='submit' name='unfollow_button' value='Unfollow' >

                <input type='hidden' name='to_be_unfollowed' value= '{{person.username}}'>

            </form>
        </td>
	</tr>
{% endfor %}
</table></center>

<form action="/home">
    <center><button type="submit" class="btn btn-primary btn-lg btn-block" >Return Home</button></center>
</form>


</body>
</html>