<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Finstergram</a>
    </div>
    <ul class="nav navbar-nav">
      <li ><a href="/home">Home</a></li>
      <li class="active"><a href="/upload">Post</a></li>
      <li><a href="/follow">Follow</a></li>
        <li><a href="/requests">Manage Requests</a></li>
        <li><a href="/unfollow">Unfollow</a></li>


    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
  </div>
</nav>
<br><br><br><br>

<div>
    <center><form action="/post" method="POST" enctype="multipart/form-data">
        <h1>Welcome {{username}}</h1>
        <h2>Let your friends know what ur up to by posting a photo today!</h2>
        <input type="file" name = "image_to_upload" accept="image/*"/> </br>
        <input type="text" name = "caption" placeholder="Add a caption!" required/> </br><br>
        <input type="checkbox" name="share_to" value="True" checked>Allow all followers to see this post<br><br>
        Careful: Your friendgroup destinations below are neglected if you don't uncheck above <br><br><br>
        <br>

        Friendgroups to share with:<br><br>
        {% for line in friendgroups %}
            <input type="checkbox" name="share_to" value="{{line.owner_username + '-' + line.groupName}}"/>
            {{line.groupName}} which is owned by {{line.owner_username}}
            <br>
        {% endfor %}
        <br>
        <input type="submit" value = Post />
    </form></center>
</div>


</body>
</html>