<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

</head>


<body>
    <br>
<br>
<br>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/home">Finstergram</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/home">Home</a></li>
      <li><a href="/upload">Post</a></li>
      <li><a href="/follow">Follow</a></li>
        <li><a href="/requests">Manage Requests</a></li>
        <li><a href="/unfollow">Unfollow</a></li>
        <li><a href="/add_FriendGroup">Manage Friend Groups</a></li>


    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
  </div>
</nav>

<br><br><br>


    <div class="row">
        <center>
            <h1>{{photo[0].photoPoster}}</h1>
            <h1>{{username}}</h1>
            <!--<h1> {{photo[0].firstName}}</h1>-->
                <img src = "/static/{{photo[0].filepath}}">
                <h5>{{photo[0].firstName}} {{photo[0].lastName}}</h5>
                <h6> Posted at: {{photo[0].postingdate}}</h6>
        </center>
        <hr><hr>

        <div class="col-sm-6">
            <center><h4>Tagged</h4></center>
            <table  class="table">
                <th>Username</th>
                <th>First Name</th>
                <th>Last Name</th>
                {% for tagged in tag %}
                <tr>
                    <td>{{tagged.username}}</td>
                    <td>{{tagged.firstName}}</td>
                    <td>{{tagged.lastName}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <div class="col-sm-6">
            <center><h4>{{likeCount.num_likes}} Likes</h4></center>

            <table class="table">
                <th>Username</th>
                <th>Rating</th>
                {% for liked in like %}
                <tr>
                    <td>{{liked.username}}</td>
                    <td>{{liked.rating}}</td>
                </tr>
                {% endfor %}


            </table>
        </div>

        <br><br>
    </div>
    <div class="row">

        <div class="col-sm-12">
            <center><h4>Comments</h4></center>

            <table class="table">
                <th>Username</th>
                <th>Time</th>
                <th>Comment</th>


                {% for comments in comment %}
                <tr>
                    <td>{{comments.username}}</td>
                    <td>{{comments.commenttime}}</td>
                    <td>{{comments.theComment}}</td>
                </tr>
                {% endfor %}
                </table>
        </div>
    </div>




    </div>
</body>
</html>