<!DOCTYPE html>
<html lang="en">
<head>
    <!--<meta charset="UTF-8">-->
    <!--<title>Title</title>-->
</head>

    <div>
        <h1>{{photoPoster}}</h1>
        <img src = {{filepath}}>
            <p> Name: {{firstName}}, {{lastName}}</p>
            <p> Timestamp: {{postingdate}}</p>

        <h2>People Tagged</h2>
        {% for tagged in tags %}
            <p>{{tagged.username}}</p>
            <p>{{tagged.firstName}}</p>
            <p>{{tagged.lastName}}</p>
        {% endfor %}

        <h2>People Liked</h2>
        {% for liked in likes %}
            <p>{{liked.username}}</p>
            <p>{{liked.rating}}</p>
        {% endfor %}
    </div>

<body>

</body>
</html>