<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>You Are the King of Finstagram</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

</head>

<body>
<div class="container">
  <div class="jumbotron">
    <h1>It's You!</h1>
    <p>The King of Finstagram is you. You have {{king.num_followers}} followers, which is more than everyone else!</p>
    <p>You may very well be the most popular person in the world! Never forget that!</p>
  </div>

</div>
<br><br>
<form action="/home">
    <center><button type="submit" class="btn btn-primary btn-lg btn-block" >Return Home</button></center>
</form>
</body>
</html>